<html>

<head>
    <title>Administrador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b04821f065.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/adminpainel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Martian+Mono:wght@800&display=swap"
        rel="stylesheet">
</head>

<body>
    <h2 class="titulo">Administrador</h2>
    <div class="header-painel">

        <h3 class="titulohorario">Adicionar novo horario</h3>
        <form method="post" action="/admin/cadastro">
            <div class="horario">
                <input type="number" name="hora" placeholder="hh"><span>:</span><input type="number" name="minutos"
                    placeholder="mm">
            </div>
            <input type="submit" name="acao" value="Cadastrar">

        </form>

    </div>

    <h2 class="tituloListaHorario">Listas de horarios Disponíveis</h2>


    <% horarios.sort((a, b)=> {
        const horaA = a.hora.split(':')[0];
        const minutoA = a.hora.split(':')[1];
        const horarioA = new Date(0, 0, 0, horaA, minutoA);

        const horaB = b.hora.split(':')[0];
        const minutoB = b.hora.split(':')[1];
        const horarioB = new Date(0, 0, 0, horaB, minutoB);

        return horarioA - horarioB;
        }); %>

        <% horarios.forEach((horario)=> { %>
            <div class="horarios">
                <p>Hora: <%= horario.hora %>
                </p>
                <a href="/admin/delete/<%= horario.id %>"><i class="fa-sharp fa-solid fa-trash"></i></a>
            </div>
            <% }); %>

                <h2 class="tituloListaHorario">Lista de agendamentos</h2>

                <div class="agendamentos">
                    <% agendamentos.sort((a, b)=> (a.horario > b.horario) ? 1 : -1).forEach((agendamento) => { %>
                        <div class="agendamento">
                            <p>Nome: <%= agendamento.nome %>
                            </p>
                            <p>Hora: <%= agendamento.horario %>
                            </p>
                            <a href="/admin/delete/agendamento/<%= agendamento.id %>">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                            </a>
                        </div>
                        <% }); %>
                </div>





</body>

</html>